/** Fantasy **/
/*  Fondo utilizado para la ficha  */
/*div.type-unit-amazons,    div.type-hero-amazons    { background-color: rgb(184, 175, 98);  background-image: url('resources/img/background/bg_unit_amazons.png'); }*/
/*div.type-unit-barbarians, div.type-hero-barbarians { background-color: rgb(117, 142, 186); background-image: url('resources/img/background/bg_unit_barbarians.png'); }*/
/*div.type-unit-dwarves,    div.type-hero-dwarves    { background-color: rgb(146, 115, 163); background-image: url('resources/img/background/bg_unit_dwarves.png'); }*/
/*div.type-unit-daemons,    div.type-hero-daemons    { background-color: rgb(179, 115, 93);  background-image: url('resources/img/background/bg_unit_daemons.png'); }*/
/*div.type-unit-elves,      div.type-hero-elves      { background-color: rgb(123, 162, 117); background-image: url('resources/img/background/bg_unit_elves.png'); }*/
/*div.type-unit-orcs,       div.type-hero-orcs       { background-color: rgb(225, 128, 16);  background-image: url('resources/img/background/bg_unit_orcs.png'); }*/
/*div.type-unit-undead,     div.type-hero-undead     { background-color: rgb(134, 134, 134); background-image: url('resources/img/background/bg_unit_undead.png'); }*/

/*div.type-unit-mercenaries  { background-color: rgb(45, 43, 43); background-image: url('resources/img/background/bg_unit_mercenaries.png'); }*/

/*div.type-building  { background-color: rgb(222, 208, 180); background-image: url('resources/img/background/bg_building.png'); }*/

/*div.counter-feudals    { background-color: rgb(227, 206, 156); background-image: url('resources/img/background/bg_unit_barbarians.png'); }*/
/*div.counter-chaos      { background-color: rgb(33, 33, 33);    background-image: url('resources/img/background/bg_titan.png'); }*/
/*div.counter-werebeast  { background-color: rgb(255, 237, 0);   background-image: url('resources/img/background/bg_titan.png'); }*/
/*div.counter-treasures  { background-color: rgb(215, 233, 253); background-image: url('resources/img/background/bg_titan.png'); }*/
/*div.counter-artifacts  { background-color: rgb(100, 59, 13);   background-image: url('resources/img/background/bg_titan.png'); }*/

div.type-unit-amazons div.line-left, div.type-hero-amazons div.line-left, div.type-unit-amazons div.line-bottom, div.type-hero-amazons div.line-bottom { background-color: rgb(211, 205, 58); }
div.type-unit-amazons div.speed div, div.type-hero-amazons div.speed div { background-color: rgb(171, 156, 31); }

div.type-unit-barbarians div.line-left, div.type-hero-barbarians div.line-left, div.type-unit-barbarians div.line-bottom, div.type-hero-barbarians div.line-bottom { background-color: rgb(44, 124, 182); }
div.type-unit-barbarians div.speed div, div.type-hero-barbarians div.speed div { background-color: rgb(19, 55, 133); }

div.type-unit-dwarves div.line-left, div.type-hero-dwarves div.line-left, div.type-unit-dwarves div.line-bottom, div.type-hero-dwarves div.line-bottom { background-color: rgb(145, 65, 187); }
div.type-unit-dwarves div.speed div, div.type-hero-dwarves div.speed div { background-color: rgb(93, 11, 128); }

div.type-unit-daemons div.line-left, div.type-hero-daemons div.line-left, div.type-unit-daemons div.line-bottom, div.type-hero-daemons div.line-bottom { background-color: rgb(189, 46, 46); }
div.type-unit-daemons div.speed div, div.type-hero-daemons div.speed div { background-color: rgb(98, 9, 9); }

div.type-unit-elves div.line-left, div.type-hero-elves div.line-left, div.type-unit-elves div.line-bottom, div.type-hero-elves div.line-bottom { background-color: rgb(67, 157, 65); }
div.type-unit-elves div.speed div, div.type-hero-elves div.speed div { background-color: rgb(22, 115, 7); }

div.type-unit-orcs div.line-left, div.type-hero-orcs div.line-left, div.type-unit-orcs div.line-bottom, div.type-hero-orcs div.line-bottom { background-color: rgb(208, 105, 28); }
div.type-unit-orcs div.speed div, div.type-hero-orcs div.speed div { background-color: rgb(140, 69, 9); }

div.type-unit-undead div.line-left, div.type-hero-undead div.line-left, div.type-unit-undead div.line-bottom, div.type-hero-undead div.line-bottom { background-color: rgb(52, 52, 52); }
div.type-unit-undead div.speed div, div.type-hero-undead div.speed div { background-color: rgb(177, 177, 177); }

div.type-unit-mercenaries div.line-left, div.type-hero-mercenaries div.line-left, div.type-unit-mercenaries div.line-bottom, div.type-hero-mercenaries div.line-bottom { background-color: rgb(91, 62, 9); }
div.type-unit-mercenaries div.speed div, div.type-hero-mercenaries div.speed div { background-color: rgb(136, 102, 62); }

div.type-titan div.line-left, div.type-titan div.line-bottom, div.type-titan div.line-bottom { background-color: rgb(232, 232, 232); }
div.type-titan div.speed div { background-color: rgb(192, 192, 192); }

div.type-unit,
div.type-hero,
div.type-titan,
div.type-building {
    position: relative;
    top: 0;
    left: 0;
    width:  512px;
    height: 512px;
    background-size: contain;
    background-image: url('/resources/img/background/bg_unit2.png');
}

div.type-titan { background-image: url('/resources/img/background/bg_titan.png'); }

/*  Estilos para cualquier ficha  */
div.main-counter div.terrain-forest    { background-image: url('/resources/img/icon/terrain_forest.png');   }
div.main-counter div.terrain-plains    { background-image: url('/resources/img/icon/terrain_plains.png');   }
div.main-counter div.terrain-water     { background-image: url('/resources/img/icon/terrain_water.png');    }
div.main-counter div.terrain-city      { background-image: url('/resources/img/icon/terrain_city.png');     }
div.main-counter div.terrain-magic     { background-image: url('/resources/img/icon/terrain_magic.png');    }
div.main-counter div.terrain-desert    { background-image: url('/resources/img/icon/terrain_desert.png');   }
div.main-counter div.terrain-fly       { background-image: url('/resources/img/icon/terrain_fly.png');      }
div.main-counter div.terrain-mountain  { background-image: url('/resources/img/icon/terrain_mountain.png'); }

div.main-counter div.cost,
div.main-building div.gold {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 30px;
    width:  100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    font-family: scriptuale, serif;
    line-height: 90px;
    font-size: 90px;
    background-color: rgb(229, 205, 102);
    border: 4px solid #59350a;
    color: #59350a;
}

div.main-counter div.name,
div.main-counter div.wounded {
    position: absolute;
    z-index: 11;
    font-family: scriptuale, serif;
    line-height: 64px;
    font-size: 58px;
    text-align: right;
    /*top: 22px;*/
    /*width: 396px;*/
    /*left: 110px;*/
    /*transform: scale(0.8, 1);*/
    text-shadow: 0 0  5px #ffffff, 0 0  5px #ffffff, 0 0  5px #ffffff, 0 0  5px #ffffff,
                 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff,
                 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
    top: -12px;
    width: 70px;
    left: 420px;
    height: 420px;
    writing-mode: tb-rl;
    transform: scale(1.2, 0.8) rotate(-180deg);
}

div.main-counter div.stats {
    position: absolute;
    z-index: 12;
    top: 368px;
    width: 472px;
    height: 100px;
    text-align: right;
    font-family: scriptuale, serif;
    line-height: 108px;
    font-size: 100px;
    text-shadow: 0 0  5px #000, 0 0  5px #000, 0 0  5px #000, 0 0  5px #000,
    0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000,
    0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
    color: #ffffff;
    transform: scale(1.0, 1.3);
}

div.main-counter div.symbol {
    z-index: 13;
    position: absolute;
    top: 428px;
    left: 126px;
    text-align: left;
    width: 60px;
    font-family: scriptuale, serif;
    line-height: 54px;
    font-size: 54px;
    transform: scale(0.4, 1);
    text-shadow: 0 0  5px #000, 0 0  5px #000, 0 0  5px #000, 0 0  5px #000,
                 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000,
                 0 0 15px #000, 0 0 15px #000, 0 0 15px #000, 0 0 15px #000;
    color: #ffffff;
}

div.main-counter div.speed {
    position: absolute;
    z-index: 14;
    top: 150px;
    left: 30px;
}

div.main-counter div.speed div {
    position: relative;
    width:  100px;
    height: 28px;
    margin-bottom: 12px;
    border-radius: 20px;
    border: 3px solid black;
    background-color: white;
}

div.main-counter div.terrain {
    position: absolute;
    z-index: 14;
    top: 382px;
    left: 30px;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 4px solid black;
    border-radius: 12px;
    width:  100px;
    height: 100px;
}

div.main-counter div.art,
div.main-building div.art {
    position: absolute;
    width:  422px;
    height: 422px;
    top: 0;
    left: 90px;
    background-size: contain;
}

div.main-counter div.wounded,
div.main-counter div.name-wounded,
div.main-counter div.stats-wounded {
    color: #ff2f2f;
}

div.main-counter div.stats-wounded {
    text-shadow: 0 0  5px #ffffff, 0 0  5px #ffffff, 0 0  5px #ffffff, 0 0  5px #ffffff,
    0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff,
    0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
}

div.main-counter div.line-left {
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 422px;
}

div.main-counter div.line-bottom {
    position: absolute;
    z-index: 2;
    top: 422px;
    width: 512px;
    height: 90px;
}

/*Titans*/
/*Sobreescrituras para las fichas de titanes*/
div.type-titan div.cost {
    font-size: 76px;
    line-height: 90px;
}
